page-about {
    ion-content {
        background: #2BC0E4;
    }
    .list {
        background: transparent;
    }
    .item {
        background: transparent;
    }
    .row,
    .col {
        background: transparent;
    }
    .label {
        background: transparent;
    }
    .items {
        background: transparent;
    }
}