<ion-header>
    <ion-navbar>
        <ion-title>
            Programs
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-fab top right edge>
        <button ion-fab (click)="addNewProgram()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

    <ion-list class="notifications">
        <ion-item-divider no-lines color="light">Predefined Programs</ion-item-divider>
        <ion-item no-lines *ngFor="let item of programs   " (click)="itemTapped($event, { item:item })" detail-push>{{item.title}}

        </ion-item>
        <ion-item-divider no-lines color="light">User Defined Programs</ion-item-divider>
        <ion-item-sliding no-lines class="items" *ngFor="let item of userPrograms">
            <ion-item no-lines (click)="itemTapped($event, { item:item } )" detail-push>
                {{item.title}}
            </ion-item>
            <ion-item-options no-lines side="right">
                <button ion-button color="danger" (click)="removeProgram(item)">
        <ion-icon name="close"></ion-icon>
        Remove
      </button>
            </ion-item-options>
            <ion-item-options side="left">
                <button ion-button color="secondary">
        <ion-icon name="play"></ion-icon>
        Play
      </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>