 page-home {
     ion-content {
     /*    background: $background*/
     }
     .list {
         background: transparent;
     }
     .item {
         background: transparent;
     }
     .row,
     .col {
         background: transparent;
     }
     .label {
         background: transparent;
     }
     .items {
         background: transparent;
     }
 }