<ion-header>
    <ion-navbar>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item-divider no-lines color="light">Program : {{programTitle}} </ion-item-divider>
        <ion-item-divider no-lines color="light">Cycle : {{cycleTitle}} - Repeat : {{repeatCount}} </ion-item-divider>

        <ion-item no-lines>
            <!--
            <radial-gauge id="radialG" width="300" height="300" [attr.value]="value" [attr.highlights]="highlights" min-value="0" max-value="360" ticks-angle="360" bar-width="20" bar-shadow="1" color-bar-progress="rgba(200,50,50,.75)" color-bar="#eaa" border-shadow-width="0"
                border-inner-width="0" border-outer-width="0" border-middle-width="0" highlights="false" value-box-stroke="0" color-value-box-shadow="0" value-box-border-radius="0" value-text-shadow="0" color-value-box-background="transparent" needle="false"></radial-gauge>
            -->

            <radial-gauge id="radialG" width="300" height="300" min-value="0" max-value="360" major-ticks="false" ticks-angle="360" start-angle="180" stroke-ticks="false" [attr.value]="value" [attr.highlights]="highlights" color-plate="#222" color-major-ticks="#f5f5f5"
                [attr.title]="title" highlightsWidth="200" color-minor-ticks="#ddd" color-numbers="#ccc" color-needle="rgba(240, 128, 128, 1)" color-needle-end="rgba(255, 160, 122, .9)" value-box="false" value-text-shadow="false" color-circle-inner="#fff"
                color-needle-circle-outer="#ccc" barProgress="true" valueText="Value" needle-circle-size="15" needle-circle-outer="false" needle-type="line" needle-start="75" needle-end="99" needle-width="3" borders="true" border-inner-width="0" border-middle-width="0"
                border-outer-width="10" color-border-outer="#ccc" color-border-outer-end="#ccc" color-needle-shadow-down="#222" animation-target="plate" animation="false" animation-duration="1500" animation-rule="linear" [attr.units]="cycleCount"></radial-gauge>

        </ion-item>

        <ion-item no-lines>
            <ion-row>
                <ion-col>
                    <button ion-button (click)="start()" color="default" block outline>Start</button>
                </ion-col>
                <ion-col>
                    <button ion-button (click)="stop()" color="danger" block outline>Stop</button>
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item no-lines>
            <ion-row>
                <ion-col>
                    Repeat
                </ion-col>
                <ion-col>
                    Pattern
                </ion-col>
                <ion-col>
                    Lenghts
                </ion-col>
                <ion-col>
                    Total
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item no-lines *ngIf="selectedProgram">
            <ion-row *ngFor="let item of selectedProgram.items; let i = index">
                <ion-col>
                    {{item.repeat}}
                    <span *ngIf="index == cycleIndex">{{repeatCount}}</span>
                </ion-col>
                <ion-col>
                    {{getPattern(item.cycle)}}
                </ion-col>
                <ion-col>
                    {{getTimes(item.cycle)}}
                </ion-col>
                <ion-col>
                    {{ getCycleLenght(item.cycle) }} sec
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item no-lines>
            <ion-row>
                <ion-col>
                    İnhale
                </ion-col>
                <ion-col>
                    {{inhaleMin}}
                </ion-col>

                <ion-col>
                    Hold
                </ion-col>
                <ion-col>
                    {{holdMin}}
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item no-lines>
            <ion-row>
                <ion-col>
                    Exhale
                </ion-col>
                <ion-col>
                    {{exhaleMin}}
                </ion-col>

                <ion-col>
                    Sustain
                </ion-col>
                <ion-col>
                    {{sustainMin}}
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
</ion-content>