page-programdetail {
    ion-content {}
    .list {
        background: transparent;
    }
    .item {
        background: transparent;
    }
    .row,
    .col {
        background: transparent;
    }
    .label {
        background: transparent;
    }
    .items {
        background: transparent;
    }
}